*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* utility class start */


/* utility class end */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}