

<font>
<h3 style="padding:2px;text-align: center;background-color: #2A265F;color:white;font-size: 25px;border-radius: 20px">Dark Room & Radiation techniques</h3>
<span class ="live"> Live </span>
<i class="fa fa-cog fa-spin" style="color: red;font-size:23px;float:right;margin-right:10px"></i>


<ul class="fa-ul1">
  <li><i class="fa-li fa fa-check-square" style="color:red"></i>All notes or study material updating after every hours according to source </li>
<li><i class="fa-li fa fa-check-square" style="color:red"></i>There may be some grammatical mistakes inside the notes, then search on Google or Wikipedia related words.</li>
<li><i class="fa-li fa fa-check-square" style="color:red"></i>Notes credit goes to our respected seniors</li>

</ul>
<div class="x">
<span style="padding:9px;text-align: center;background-color: #2A265F;color:white;font-size: 15px;border-radius: 20px">Syllabus</span>
</div>
<div class="card1">
<text> The photographic process</text>
<div class="y">
<ul class="ul0">
Importance
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<span style="display:block"> Level : Easy </span>

</ul>
</div>

<ul class="fa-ul1">
  <li style= "display: block"><i class="fa-li fa fa-square"></i>Introduction</li>
  <li style= "display: block"><i class="fa-li fa fa-square"></i>visible light</li>
  <li style= "display: block"><i class="fa-li fa fa-square"></i>Images 
produced by radiation></li>
  <li style= "display: block"><i class="fa-li fa fa-square"></i>light sensitive photographic materials</li>
  
  
  </ul>
  
</div>
<div class="card">
<text>Image characteristics </text>
<div class="y">
<ul class="ul0">
Importance
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<span style="display:block"> Level : Easy </span>

</ul>
</div>
<ul class="fa-ul1">
  <li style= "display: block"><i class="fa-li fa fa-square"></i>
  Real and mental images</li>
  <li style= "display: block"><i class="fa-li fa fa-square"></i>
  Reflected</li>
  <li style= "display: block"><i class="fa-li fa fa-square"></i>
  Transmitted & emitted light image photographic emulsion></li>
  <li style= "display: block"><i class="fa-li fa fa-square"></i>
  The photographic latent image</li>
  <li style= "display: block"><i class="fa-li fa fa-square"></i>
  Positive process</li>
  
  </ul>
  </div>
  <div class="card">
<text>Construction of x-ray film & its cross over effect</text>
<div class="y">
<ul class="ul0">
Importance
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<span style="display:block"> Level : Easy </span>

</ul>
</div>

  </div>
  
  <div class="card">
<text>Sensitometry  </text>
<div class="y">
<ul class="ul0">
Importance
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<span style="display:block"> Level : Easy </span>

</ul>
</div>
<ul class="fa-ul">
  <li style= "display: block"><i class="fa-li fa fa-square"></i>
  Photographic density</li>
  <li style= "display: block"><i class="fa-li fa fa-square"></i>
  Characteristic curves </li>
  
  </ul>
  </div>
  <div class="card">
<text>The storage of film materials & radiograph</text>
<div class="y">
<ul class="ul0">
Importance
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<span style="display:block"> Level : Easy </span>

</ul>
</div>

  </div>
  
  
  <div class="card">
<text>Intensifying screens & Casste | Luminescence </text>
<div class="y">
<ul class="ul0">
Importance
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<li>
<i class="fa fa-star checked" style="color: white;font-size:15px"></i>
</li>
<span style="display:block"> Level : Easy </span>

</ul>
</div>
<ul class="fa-ul1">
  <li style= "display: block"><i class="fa-li fa fa-square"></i>
  fluorescence & phosphorescenc . construction of an intensifying screen</li>
  <li style= "display: block"><i class="fa-li fa fa-square"></i>
  </li>
  
  </ul>
  </div>
  
</font>
