<nav class="nav">
	
				<a href="{{ "/" | prepend: site.baseurl }}"><i class="material-icons fa-3x">home</i><span>Home</span></a>
				<a href="{{ "/blog" | prepend: site.baseurl }}"><i class="material-icons fa-3x">bookmarks</i><span>Blog</span></a>
                                <a href="{{ "/categories" | prepend: site.baseurl }}"><i class="material-icons fa-3x">library_books</i><span>Categories</span></a>
                                <a href="{{ "/contact" | prepend: site.baseurl }}"><i class="material-icons fa-3x">person</i><span>Contact me</span></a>
		
		               <a href="{{ "/about" | prepend: site.baseurl }}"><i class="material-icons fa-3x">check_box</i><span>Project</span></a>
		
			
	</nav>


<header>
	<a style="color:white;font-size:35px;margin-bottom:7px;" href="{{ site.baseurl }}">{{ site.title }}</a>
</header>
 



    

  
