

<div class="cir">
  <img src= "https://i.ibb.co/bdrfzS1/FB-IMG-1594227170069.jpg" alt="FB-IMG-1594227170069"/>
</div>


<h1 style="text-align:center;size:40px; color:#6E4B73; ">Rajesh Saharan</h1>
<div style="margin-top:0px" class="social">

    <a href="https://www.facebook.com/rajeshsaharan123"><i class="fa fa-facebook" style="font-size:30px"></i></a>
    <a href="https://www.linkedin.com/in/rajesh-saharan-609a601a5"><i class="fa fa-linkedin"style="font-size:30px"></i></a>  
    <a href="https://www.github.com/rajeshsaharan"><i class="fa fa-github"style="font-size:30px"></i></a>  
    <a href="https://api.whatsapp.com/91935802414"><i class="fa fa-whatsapp"style="font-size:30px"></i></a>  
    </div>

<div class="card">  
<strong> Introduction </strong>
<p>
Hello, My name is Rajesh Saharan, I am new to website design and graphic design from India in Belong Kare, 
I am learning front-end programming language right now. 
</p>
</div>

   
    <div class="card">
    
    
    <h3> first project: indscience.org </h3>
    <p> indscience.org a blog website that publish articles about Science, Technology and cyberspace </p>
   <a href="https://indscience.github.io" style=" font-size:30px; color: #6E4B73;" class="fa fa-github">
  Code access </a>
    </div>
 
<div class="card">
    
    
    <h3> second project: blueprint</h3>
    <p> blueprint is a web application where you can access hospital layout by blueprint of any building
{ Hospital location: sms medical College & Hospital , Jaipur
 </p>
    <i style=" font-size:30px; color: #6E4B73; overflow:hidden" class="fa fa-github"> Code Access</i>
   
    </div>

 
   
