body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: none;
}

header {
    height: 45px;
    background: #6E4B73;
    // Positioning context for the mobile navigation icon
   overflow: auto;
  white-space: nowrap;
  border-radius: 5px;
position: -webkit-sticky;
  position: sticky;
  top: 0;

}

lec{
    font-size: 30px;
/* 		margin-top: 2px;
    line-height: 40px; */
    letter-spacing: 0px;
    margin-bottom: 0;
    float: left;
    font-weight: 500;
		font-family: $font-style;
    color: white;
    }




main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}
.container {
	width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Aside */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.fa-2x {
    font-size: 2rem;
}
.fa {
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    margin:3px;
}
.fa-3x{
font-size: 18px;
}


.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #6E4B73;
    display: flex;
    overflow-x: auto;
    border-radius: 5px;
}

.nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: $font-style;
    font-size: 13px;
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}


.nav a:hover {
    background-color: white;
    color: #6E4B73;
}

.nav a--active {
    color: #009578;

}

.nav__icon {
    font-size: 18px;
}






footer {
	text-align: center;
	padding: 40px;
}

ul#archive {
       list-style-type: none;
       margin: 0 0 1em 0;
       padding: 0;
}

ul#archive li {
       border: 3px solid #6E4B73;
  padding: 4px;
  border-radius: 12px;
  margin-bottom: 6px;
       
}

ul#archive li:nth-child(even) { background: #f9f9f9; }
ul#archive li:nth-child(odd) { background: #fdfdfd; }

ul#archive  h2 {
	padding-top: .5em }

ul#archive li.alt {
       background: #f6f6f6;
}

.archiveposturl {
       display: block;

       color: #333;
}

.archiveposturl:hover {

}

ul#archive li span a {
       color: black;
	font-weight: bold;
font-family: $font-style;
}


ul#archive li span.postlower {
	font-size: 85%

}

ul#archive li span.postlower a {
	color: #07c;
	font-weight: normal;
	font-family: $font-style;

}

article ul {
  list-style-type: none;
}

article ul > li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em; 
}

article ul#archive > li:before {
  list-style-type: none;
  content: none;
}




.cir {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 3px solid #6E4B73;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

}

.cir img {
  width: 100%;
  height: auto;
  
}


.social{
    
  width: auto;
  margin: auto;
  text-align: center;
  overflow: hidden;
  
   }
   
  .social  a{
    	font-size: 50px;
  color: #6E4B73;
  margin: 0px 5px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 3px solid #6E4B73;
  border-radius: 5px;
 
  width: auto;
  padding: 8px;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  font-size: 20px;
  transition: 1s box-shadow;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

